#social li{ display: inline; }
#social li a {
    padding: 2px 10px;
    display: inline-block;
}

@font-face {
    font-family: mawns;
    src: url('fonts/mawns_handwriting.ttf');
}

.handwriting {
    font-family: mawns, Arial, Helvetica, sans-serif;
}

#nome {
    font-size: 30px;
}

#perfil img{
    border-radius: 50%;
}

.card{
    margin: 10px;
}

.topo {
    margin:10px;
}
#mensagem {
    margin-bottom:10px;
}
h4{ display: inline-block;}
#skills li{ display: inline; }
#skills li{
    padding: 2px 10px;
    display: inline-block;
}