html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@font-face {
    font-family: mawns;
    src: url('fonts/mawns_handwriting.ttf');
}

.handwriting {
    font-family: mawns, Arial, Helvetica, sans-serif;
}
.elegant{
    font: Helvetica, Arial, sans-serif;
    font-size: 30px;
    flex-wrap: nowrap;
}

/*#skills{
    white-space: nowrap;
}*/
#social li{ display: inline; }
#social li a {
    padding: 2px 10px;
    display: inline-block;
}

#nome {
    font-size: 50px;
}

#perfil img{
    border-radius: 50%;
}

.card{
    margin: 10px;
}

.topo {
    margin:10px;
}
#mensagem {
    margin-bottom:10px;
}
h3{ 
    font-family: mawns;
    display: inline-block;
}